// *****FONTS***** //
@font-face {
    font-family: "DancingScript";
    src: url("../fonts/DancingScript.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-light";
    src: url("../fonts/Roboto-light.ttf") format("truetype");
}

// *****COLOR VARIABLES***** //
$color-white: #fff;
$color-red: #d00000;
$color-grey: #b9b9b9;
$color-black: #000;

// *****FONT VARIABLES***** //

$font-primary: "Roboto-light", sans-serif;
$font-secondary: "DancingScript";

// *****MEDIA QUERIS***** //

$mq-sm: 37.5em;      // 600px
$mq-md: 56.25em;      // 900px
$mq-lg: 75em;      // 1200px



html {
    box-sizing: border-box;
    font-size: 62.5%;     // 10px = 1rem

    @media only screen and (max-width: $mq-sm) {
        font-size: 50%;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100%;
    font-family: $font-primary;
    overflow: hidden;
}

.main-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (any-hover:hover) {
    .cursor {
        position: absolute;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        z-index: 100;
        width: 3rem;
        height: 3rem;
        border: 3px solid #fff;
        border-radius: 50%;
        box-shadow: inset 0 0 20px rgba(255,255,255, 0.3), 0 0 20px rgba(255,255,255, 0.5);
        transition: padding .3s ease;   
        pointer-events: none;

        &-active {
            padding: 3rem;
        }
    }
}
