// *****FONTS***** //
@font-face {
    font-family: "Roboto-bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

// *****COLOR VARIABLES***** //
$color-white: #fff;
$color-red: #d00000;

// *****FONT VARIABLES***** //

$font-primary-bold: "Roboto-bold", sans-serif;
$font-primary-normal: "Roboto-regular", sans-serif;



html {
    cursor: none;
    box-sizing: border-box;
    font-size: 62.5%;     // 10px = 1rem
    overflow: hidden;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.small-circle,
.big-circle {
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 100;
    pointer-events: none;
}

@media (any-hover:hover) {
    .small-circle {
        width: .8rem;
        height: .8rem;
        background-color: $color-red;
    }
    
    .big-circle {
        width: 3rem;
        height: 3rem;
        border: 3px solid #fff;
        border-radius: 50%;
        box-shadow: inset 0 0 20px rgba(255,255,255, 0.3), 0 0 20px rgba(255,255,255, 0.5);
        transition: padding .3s ease;   

        &-active {
            padding: 3rem;
        }
    }
}
