.name {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    
    display: flex;
    align-items: baseline;
    justify-content: center;
    
    @media only screen and (max-width: $mq-sm) {
        display: block;
        text-align: center;
        top: 30%;
    }

    &>* {
        display: inline;
        font-size: 6rem;
        font-family: $font-primary-bold;
        color: $color-white;
    }

    &__first-name {
        letter-spacing: -.8rem;
    }

    &__letter--a,
    &__letter--r,
    &__letter--t {
        color: $color-red;
    }

    &__second-name {
        margin-left: 4rem;

        &::first-letter {
            font-size: 10rem;
        }

        @media only screen and (max-width: $mq-sm) {
            margin-left: 4rem;
        }
    }
}